<html>
<body><h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>
</body>
</html>




{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <style>#}
{#  .rslt-location{#}
{#            outline: none;#}
{#            border-left:none;#}
{#            border-bottom: none;#}
{#            border-top: none;#}
{#            background: #f3f2f2;#}
{#            border-right: 1px solid white;#}
{#            width:40%;#}
{#            height:5rem;#}
{#            padding-left:15px;#}
{#            display:inline-block;#}
{#            border-bottom-left-radius: 5px;#}
{#            border-top-left-radius: 5px;#}
{#            /*position: relative;*/#}
{#            /*transform: translate(0,-50%);*/#}
{#            /*top:50%*/#}
{#        }#}
{#        .category{#}
{#            width:100%;#}
{#            height:4rem;#}
{#            padding-left:15px#}
{##}
{#        }#}
{##}
{#        .srch{#}
{#            width:18%;#}
{#            /*display: inherit;*/#}
{#            height:5rem;#}
{#            background: #ad6f9f;#}
{#            color: white;#}
{#            border: none;#}
{#            border-top-right-radius: 5px;#}
{#            border-bottom-right-radius: 5px;#}
{#            outline: none;#}
{#        }#}
{#        .text-pink{#}
{#            color:#805378;#}
{#        }#}
{##}
{#        .deals-container{#}
{#            width:100%;#}
{#            padding:20px;#}
{#            position: relative;#}
{#            min-height: 60vh;#}
{#        }#}
{#        .deals-block{#}
{##}
{#            width:18%;#}
{#            height:20rem;#}
{#            display: inline-grid;#}
{#            text-align: center;#}
{#        }#}
{#        .deals-block:hover{#}
{#            box-shadow: 0 10px 15px rgba(0,0,0,0.2);#}
{#        }#}
{#        .deals-block img{#}
{#            position: relative;#}
{#            transform: translate(-50%,0);#}
{#            left:50%;#}
{#            height:10rem;#}
{#            width:auto;#}
{#        }#}
{#        /* ############################footer css strts grom here ############################*/#}
{##}
{#        .footer{#}
{#            position: relative;#}
{#            bottom: 0;#}
{#            width:100%;#}
{#            height:auto;#}
{#            border-top: 1px solid lightgray;#}
{#            padding:20px;#}
{#        }#}
{#        .foot-logo{#}
{#            width:120px;#}
{#            height:50px;#}
{#            position: relative;#}
{#            display: inline-block;#}
{##}
{#        }#}
{#        .foot-logo img{#}
{#            position: relative;#}
{#            transform: translate(-50%,0);#}
{#            left:50%;#}
{#        }#}
{#        .social li{#}
{#            display: inline;#}
{#            color:#a56ed7;#}
{#            font-size: 23px;#}
{#            margin:0 10px;#}
{##}
{#        }#}
{#        .social{#}
{#            height:auto;#}
{#            float: right;#}
{#            display: inline-block;#}
{##}
{#        }#}
{#        .social ul{#}
{#            position: relative;#}
{#            /*transform: translate(0,-50%);*/#}
{#            /*top:45%;*/#}
{#        }#}
{#        .right{#}
{#            float: right;#}
{#        }#}
{#        /* ############################footer css strts grom here ############################*/#}
{##}
{#        .search-header{#}
{#            width:100%;#}
{#            height:12rem;#}
{#            display: inline-flex;#}
{#            padding:10px;#}
{#            position: relative;#}
{#            z-index:100;#}
{##}
{#        }#}
{#        .search-header img{#}
{#            width:150px;#}
{#        }#}
{#        .search-header .select-selected{#}
{#            background: #f3f2f2;#}
{#        }#}
{#        .search-header .srch{#}
{#            background:#5685ed;#}
{#        }#}
{#        .search-header .select-items div {#}
{#            background:#f3f2f2;#}
{#            width: 100%;#}
{#            color: rgba(0, 0, 0, 0.97);#}
{#            padding: 12px 16px;#}
{#            border: 1px solid transparent;#}
{#            border-color: transparent transparent rgb(255, 255, 255) transparent;#}
{#            cursor: pointer;#}
{#        }#}
{#        .rslt-key{#}
{#            position: relative;#}
{#            transform: translate(0,-50%);#}
{#            top: 50%;#}
{#            display: inline-flex;#}
{#            width: 80%;#}
{#            height: fit-content;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#{% load staticfiles %}#}
{#<div class="search-header">#}
{#    <img src="{% static 'sales/styles/images/Pricetack.png' %}" class="img-responsive">#}
{#    <div class="rslt-key">#}
{#        <input type="text" placeholder="Enter location here..." class="rslt-location">#}
{#        <div class="custom-select">#}
{#            <select class="category ">#}
{#                <option value="0">Select Category:</option>#}
{#                <option value="1">Clothes</option>#}
{#                <option value="2">Shoes</option>#}
{#                <option value="3">Electronics</option>#}
{#                <option value="4">Automobil</option>#}
{#                <option value="5">Makeup</option>#}
{##}
{#            </select>#}
{#        </div>#}
{#        <button class="srch"><i class="fa fa-search"></i> </button>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{#<h3 class="text-center">Your search result for</h3>#}
{#<h4 class="text-center">Location: <b>This</b></h4>#}
{#<h4 class="text-center">Category: <b>This</b></h4>#}
{##}
{##}
{#<div class="deals-container">#}
{#    <h3 class="text-left text-pink">Browse Offers!!</h3>#}
{#    <div class="deals-block">#}
{#        <img src="{% static 'sales/styles/images/icons/tshirt.png' %}" class="img-responsive">#}
{#        <p><b>Shop Name Here</b></p>#}
{#        <p><b>Offer: 10% Off on all items</b></p>#}
{#        <p><b>Validity: 09-10-2019 To 09-20-2019</b></p>#}
{#    </div>#}
{#    <div class="deals-block">#}
{#        <img src="{% static 'sales/styles/images/icons/tshirt.png' %}" class="img-responsive">#}
{#        <p><b>Shop Name Here</b></p>#}
{#        <p><b>Offer: 10% Off on all items</b></p>#}
{#        <p><b>Validity: 09-10-2019 To 09-20-2019</b></p>#}
{#    </div>#}
{#    <div class="deals-block">#}
{#        <img src="{% static 'sales/styles/images/icons/tshirt.png' %}" class="img-responsive">#}
{#        <p><b>Shop Name Here</b></p>#}
{#        <p><b>Offer: 10% Off on all items</b></p>#}
{#        <p><b>Validity: 09-10-2019 To 09-20-2019</b></p>#}
{#    </div>#}
{#    <div class="deals-block">#}
{#        <img src="{% static 'images/icons/tshirt.png' %}" class="img-responsive">#}
{#        <p><b>Shop Name Here</b></p>#}
{#        <p><b>Offer: 10% Off on all items</b></p>#}
{#        <p><b>Validity: 09-10-2019 To 09-20-2019</b></p>#}
{#    </div>#}
{#    <div class="deals-block">#}
{#        <img src="{% static 'sales/styles/images/icons/tshirt.png' %}" class="img-responsive">#}
{#        <p><b>Shop Name Here</b></p>#}
{#        <p><b>Offer: 10% Off on all items</b></p>#}
{#        <p><b>Validity: 09-10-2019 To 09-20-2019</b></p>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<script type="text/javascript" src="{% static 'sales/styles/style/js/select-case.js' %}"></script>#}
{##}
{#{% endblock %}#}
