{% extends 'base.html' %}

{% block content %}
<div class="admin-header">

    <ul>
        <li>Add Offer</li>
        <li>List Offer</li>
        <li>Add Product Offer</li>
        <li>List Product Offer</li>


    </ul>

</div>
<div class="limiter fm">


    <div class="table-container" >
        <table class="table">
            <tr class="thead">
                <th>Item</th>
                <th>Old Price(In Rs.)</th>
                <th>Offer Price(In Rs.)</th>
                <th>Valid From</th>
                <th>Valid To</th>
            </tr>
            <tr>
                <td>Item Name</td>
                <td>3200</td>
                <td>2800</td>
                <td>09/21/2019</td>
                <td>10/11/2019</td>

            </tr>
            <tr>
                <td>Item Name</td>
                <td>3200</td>
                <td>2800</td>
                <td>09/21/2019</td>
                <td>10/11/2019</td>

            </tr>
            <tr>
                <td>Item Name</td>
                <td>3200</td>
                <td>2800</td>
                <td>09/21/2019</td>
                <td>10/11/2019</td>

            </tr>
            <tr>
                <td>Item Name</td>
                <td>3200</td>
                <td>2800</td>
                <td>09/21/2019</td>
                <td>10/11/2019</td>

            </tr>
            <tr>
                <td>Item Name</td>
                <td>3200</td>
                <td>2800</td>
                <td>09/21/2019</td>
                <td>10/11/2019</td>

            </tr>        <tr>
            <td>Item Name</td>
            <td>3200</td>
            <td>2800</td>
            <td>09/21/2019</td>
            <td>10/11/2019</td>

        </tr>


        </table>
    </div>


</div>
{##}
{#<script type="text/javascript" src="style/js/select-case.js"></script>#}
{##}
{#<script type="text/javascript" src="style/js/signup.js"></script>#}

{% endblock %}