<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Records</title>
     {% load staticfiles %}
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>

        <th>image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Category</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
{% for products in product %}
    <tr>
        <td>{{ products.image }}</td>
       <td>{{ products.product_name }}</td>
        <td>{{ products.price }}</td>
        <td>{{ products.discount }}</td>
        <td>{{ products.category }}</td>
        <td>
            <a href="/productedit/{{ products.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/productdestroy/{{ products.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/product" class="btn btn-primary">Add New Record</a></center>
</body>
</html>