<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href="{% static 'sales/styles/style/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sales/styles/style/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'sales/styles/style/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'sales/styles/style/css/select-case.css' %}" rel="stylesheet">
    <link href="{% static 'sales/styles/style/css/responsive.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'sales/styles/style/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'sales/styles/style/js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <style>
        .index-banner {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            box-sizing: border-box;
            height: 40rem;
            background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.3)), url({% static 'sales/styles/images/13673.jpg' %});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }


    </style>
</head>
<body>

<div class="header">
    <ul>
        <li>Home</li>
        <li>Best Deals</li>
        <li>Brands</li>
        <a href="{% url 'login' %}">
            <li style="float:right;"><i class="fa fa-user"></i></li>
        </a>
    </ul>
</div>
<form method="POST" action="{% url 'find' %}">
    {% csrf_token %}
    <div class="index-banner">
        <div class="search-container">
            <input type="text" placeholder="Enter location here..." class="location" name="location">
            <div class="custom-select">
                <select class="category" name="category">
                    <option value="0">Select Category:</option>
                    <option value="Clothes">Clothes</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Automobile">Automobile</option>
                    <option value="Makeup">Makeup</option>
                </select>
            </div>
            <button class="srch" type="submit"><i class="fa fa-search"></i></button>
        </div>


        <div class="tri-base" style=" background-image: url({% static 'sales/styles/images/base-tri.png' %});">
            <h1 class="text-right tagline2 focus-in-contract-bck "><b class="main-tag text-shadow-drop-right">Steal</b>
                <br>the
                <br>Best <b class="main-tag text-shadow-drop-right">Deals</b>
            </h1>
        </div>

    </div>
</form>

<div class="category-container">
    <h3 class="text-left text-pink">Categories</h3>
    <div class="cat-detail">
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/tshirt.png' %}" class="img-responsive">
            <p class="text-center">Clothes</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/converse.png' %}" class="img-responsive">
            <p class="text-center">Shoes</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/jeep.png' %}" class="img-responsive">
            <p class="text-center">Automobile</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/makeup.png' %}" class="img-responsive">
            <p class="text-center">Grooming</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/electronic.png' %}" class="img-responsive">
            <p class="text-center">Electronics</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/restaurant.png' %}" class="img-responsive">
            <p class="text-center">Restaurants</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/travel.png' %}" class="img-responsive">
            <p class="text-center">Tours & Travel</p>
        </div>
        <div class="cat-cir">
            <img src="{% static 'sales/styles/images/icons/book.png' %}" class="img-responsive">
            <p class="text-center">Books</p>
        </div>
    </div>

</div>


<div class="best-deal-container">
    <h3 class="text-left text-pink">Deals of the Day!!</h3>
    <div class="owl-carousel owl-theme">
        {% for ad in advertisement %}
            <div class="item">
                <img src="{{ ad.image.url }}" class="img-responsive">
            </div>
        {% endfor %}
    </div>

</div>

<div class="deals-container">
    <h3 class="text-left text-pink">Browse Offers!!</h3>
    {% for deals in deal %}
        <div class="deals-block" data-toggle="modal" data-target="#model-{{ deals.id }}">
            <img src=" {{ deals.image.url }}" class="img-responsive">
            <p><b>{{ deals.deal_name }}</b></p>
            <p><b>Offer: {{ deals.discount_per }} % Off on all items</b></p>
            <p><b>Validity: {{ deals.valid_from }} To {{ deals.valid_till }}</b></p>
        </div>
    {% endfor %}
</div>
{% for deals in deal %}
    <div class="modal fade" id="model-{{ deals.id }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ deals.deal_name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{ deals.image.url }}" class="img-responsive">
                    {{ deals.deal_name }}
                    {{ deals.discount_per }}
                    {{ deals.valid_from }}
                    {{ deals.valid_till }}
                    {{ deals.Shop_id }}
                    {{ deals.Shop.location }}
                </div>
                <div class="modal-footer">
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Modal -->

<footer class="footer">
    <div class="foot-logo">
        <img src="{% static 'sales/styles/images/Pricetack.png' %}" class="img-responsive">
    </div>

    <div class="social">
        <p class="text-center">Follow us On:</p>

        <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-twitter"></i></li>
        </ul>
    </div>


</footer>
<script type="text/javascript" src="{% static 'sales/styles/style/js/owl.carousel.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 1500,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: true,
                    loop: true,
                    margin: 20
                }
            }
        });
    });
</script>
<script type="text/javascript" src="{% static 'sales/styles/style/js/select-case.js' %}"></script>
</body>
</html>