{% extends 'base.html' %}

{% block content %}
    {% if user.is_shop or user.is_admin %}
        <div class="limiter fm">
            <div class="table-container">
                <table id="table_id" class="table">
                    <thead class="thead">
                    <tr>
                        <th scope="col">Shop Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Location</th>
                        <th scope="col">category</th>
                        <th scope="col">Contact Person</th>
                        <th scope="col">Branded</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                    </thead>
                        <tbody>
                                            {% for shops in shop %}

                        <tr>
                            <td>{{ shops.shop_name }}</td>
                            <td>{{ shops.contact }}</td>
                            <td>{{ shops.location }}</td>
                            <td>{{ shops.category }}</td>
                            <td>{{ shops.contact_person }}</td>
                            <td>{{ shops.branded }}</td>
                            <td>{{ shops.email }}</td>
                            <td><a href="/shopedit/{{ shops.id }}"><i class="fa fa-edit"></i></a></td>
                                                     <td><a href="/shopdestroy/{{ shops.id }}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a></td>


                        </tr>
                                            {% endfor %}

                        </tbody>

                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}