<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop edit</title>
</head>
<body>

<form method="POST" action="/shopupdate/{{ shop.id }}">    {% csrf_token %}

    <input type="text" name='shop_name' placeholder="shop_name" value="{{ shop.shop_name }}">
    <input type="text" name='contact' placeholder="contact" value = "{{ shop.contact }}">
    <input type="text" name='location' placeholder="location" value = "{{ shop.location }}">
    <input type="text" name='category' placeholder="category" value = "{{ shop.category }}">
    <input type="text" name='contact_person' placeholder="contact_person" value = "{{ shop.contact_person }}">
    <input type="text" name='branded' placeholder="branded" value="{{ shop.branded }}">
    <input type="email" name='email' placeholder="email" value="{{ shop.email }}">
    <input type="password" name ='password' placeholder="Password" value="{{ shop.password }}"><br>
    <input type="password" name ='password2' placeholder="Password" value="{{ shop.password2 }}"><br>

        <button type="submit" class="btn btn-success">Update</button>


</form>

</body>
</html>